[submodule "org.hl7.fhir.core"]
	path = org.hl7.fhir.core
	url = https://github.com/jmandel/org.hl7.fhir.core.git
	branch = describe-duration-secs
[submodule "fhir-ig-publisher"]
	path = fhir-ig-publisher
	url = https://github.com/HL7/fhir-ig-publisher.git
